
/* Custom CSS for the Therapeutic website */

/* Adjust hero section */
*, *::before, *::after 

.hero {
    background-color: hsl(139, 73%, 38%);
    text-align: center;
    padding: 100px 0;
}

navbar.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: #0f9bbe; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
  }

/* Style the form elements */
.form-group label {
 font-weight: bold;
}

/* Add some padding to the cards in the services section */
.card {
    margin-bottom: 30px;
}

/* Style the footer */
footer {
    text-align: center;
    padding: 15px 0;
}
/* Resize the logo image */
.logo-img {
    width: 80px; /* Set the desired width for the logo */
    height: auto; /* Let the height adjust proportionally */

}
